<section id="who-we-are" class="who-we-are ptb-100 bg-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="section-title">
                    <span>Who We Are</span>
                    <h2>We stand out for the <b>best</b></h2>
                    <p>Humans are primarily auditory and visual animals, olfaction is a long neglected dimension of modern human experience. </p>
                    <p>Although aromatherapy is currently recommended by doctors and used in hospitals it hasn't evolved in thousands of years. </p>
                    <p>Current practices involve the release of a single fixed fragrance which doesn't take into account the variations in your mood or health condition. </p>
                    <p>We’ve recently developed a breakthrough consumer product to fulfill this need: </p>
                    <p>OrbMedic is a revolutionary response to personalized olfactory environment engineering which delivers intelligent aromatherapy that provides customized scents tailored to your state of mind and body. </p>
                    <p>Our patented technology uses biomedical sensors and artificial intelligence to provide the most effective prescription corresponding to your physiological and psychological state. </p>
                    <a href="#portfolio" class="btn btn-primary">Our Work</a>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="content">
                    <p>Through customized olfaction OrbMedic enhances the body's ability to heal itself and maintain a healthy balance. 
                        OrbMedic enhances the environment by releasing a synergistic mixture of multiple botanical extracts exquisitely tuned to a precise estimation of your mood.</p>
                    <ul>
                        <li>scientific analysis of sensor data</li>
                        <li>objective rather than subjective approach to computing prescriptions</li>
                        <li>activates specific biochemical processes in the brain</li>
                        <li>easy to use, just plug it in and the rest is fully automated</li>
                        <li>economical</li>
                        <li>safe</li>
                        <li>hygienic</li>
                        <li>innovative</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>