<section id="features" class="features-area ptb-100 bg-image">
    <div class="container">
        <div class="section-title">
            <span>Our Features</span>
            <h2>We Always Try To <b>Understand</b> Users Expectation</h2>
            
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-features">
                    <div class="icon">
                        <i class="icofont-edit"></i>
                    </div>
                    <h3>Discovery</h3>
                    <p>precise amounts of individual essential oils are blended to create customized aromatherapy prescriptions</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-features active">
                    <div class="icon">
                        <i class="icofont-upload-alt"></i>
                    </div>
                    <h3>Assessment</h3>
                    <p>To improve wellness by augmenting aromatherapy with advanced biomedical sensors an artificial intelligence to compute personalized prescriptions.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-features">
                    <div class="icon">
                        <i class="icofont-pie-chart"></i>
                    </div>
                    <h3>Prescription</h3>
                    <p>Personalized prescriptions to alleviate problems such as insomnia, nausea and depression.</p>
                </div>
            </div>
        </div>
    </div>
</section>