<section id="why-us" class="why-we-different ptb-100 bg-image">
    <div class="container">
        <div class="section-title">
            <span>Highly Creative Solutions</span>
            <h2>Why we are <b>Different</b></h2>
            <p>OrbMedic is a revolutionary synthesis of techniques both ancient and modern, combining the best of both worlds. 
            </p>
        </div>
        <div class="tab">
            <ul class="tabs">
                <li><a href="#">
                    Personalisation
                </a></li>
                <li><a href="#">
                    Automation
                </a></li>
                <li><a href="#">
                    Let Orbmedic take care of you!
                </a></li>
                <li><a href="#">
                    Wellness decoded
                </a></li>
            </ul>
            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 why-we-different-content">
                            <div class="tabs_item_content">
                                <h3>Personalisation</h3>
                                <p>Prescribes a wide variety of therapies corresponding to your state</p>
                                <ul>
                                    <li>Programmable combination of organic extracts</li>
                                    <li>Spiritual passion for the fruits of Mother nature</li>
                                    <li>Ancient and Modern</li>
                                    <li>State-Of-the-Art sensors</li>
                                    <li>Artificial Intelligence led development</li>
                                    <li>We Are Professional</li>
                                    <li>We Are Creative</li>
                                    <li>We Are Unique</li>
                                </ul>
                                <a href="#portfolio" class="btn btn-primary">Our Work</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 why-we-different-img">
                            <div class="tabs_item_img">
                                <img src="assets/img/why-we-different1.jpg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 why-we-different-img">
                            <div class="tabs_item_img">
                                <img src="assets/img/why-we-different2.jpg" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 why-we-different-content">
                            <div class="tabs_item_content">
                                <h3>Automation</h3>
                                <p>Advanced biomedical sensors and artificial intelligence determines optimum prescription</p>
                                <a href="#portfolio" class="btn btn-primary">Our Work</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 why-we-different-content">
                            <div class="tabs_item_content">
                                <h3>Let Orbmedic take care of you!</h3>
                                <p>Do you recall what it was like to have a parental figure empathize with your state of health?</p>
                                <ul>
                                    <li>Creative Design</li>
                                    <li>Retina Ready</li>
                                    <li>Modern Design</li>
                                    <li>Digital Marketing & Branding</li>
                                    <li>Awesome Design</li>
                                    <li>We Are Professional</li>
                                    <li>We Are Creative</li>
                                    <li>We Are Unique</li>
                                </ul>
                                <a href="#portfolio" class="btn btn-primary">Our Work</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 why-we-different-img">
                            <div class="tabs_item_img">
                                <img src="assets/img/why-we-different3.jpg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 why-we-different-img">
                            <div class="tabs_item_img">
                                <img src="assets/img/why-we-different4.jpg" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 why-we-different-content">
                            <div class="tabs_item_content">
                                <h3>Wellness decoded</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                <ul>
                                    <li>improves your health and immune system to reduce the chances of contracting an illness</li>
                                    <li>improves your psychological state by mitigating mental illnesses such as depression and anxiety</li>
                                    <li>Modern Design</li>
                                    <li>Digital Marketing & Branding</li>
                                    <li>Awesome Design</li>
                                    <li>We Are Professional</li>
                                    <li>We Are Creative</li>
                                    <li>We Are Unique</li>
                                </ul>
                                <a href="#portfolio" class="btn btn-primary">Our Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>