<div class="main-banner item-bg3 ripple-effect jquery-ripples">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-content text-center">
                    <span>OrbMedic augments aromatherapy</span>
                    <h1>To <b>Medicate</b> your state of mind and body. </h1>
                    <p>Our patented technology uses biomedical sensors and artificial intelligence to provide the most effective prescription corresponding to your physiological and psychological state. </p>
                    <div class="btn-box">
                        <a href="#who-we-are" class="btn btn-primary">Know More</a>
                        <!-- <span>or</span>
                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"><i class="icofont-ui-play"></i> Watch Video</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shapes/1.png" alt="shape1"></div>
    <div class="shape2 rotateme"><img src="assets/img/shapes/2.png" alt="shape2"></div>
    <div class="shape3 rotateme"><img src="assets/img/shapes/3.png" alt="shape3"></div>
    <div class="shape4"><img src="assets/img/shapes/4.png" alt="shape4"></div>
</div>

<app-story></app-story>

<app-features></app-features>

<app-who-we-are></app-who-we-are>

<app-why-we-different></app-why-we-different>

<app-funfacts-two></app-funfacts-two>

<app-subscribe></app-subscribe>

<app-contact></app-contact>